.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; // Espacio entre las imágenes
  padding: 20px;

  .image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 500px;
    background-color: #ccc;
    border-radius: 5%;
    

    .image-frame {
      width: 400px;
      height: 400px;
      overflow: hidden;
      border: 2px solid #ccc;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      .hover-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    h3 {
      margin: 10px 0 5px;
      font-size: 1.3rem;
      font-weight: bolder;
      color: #333;
      cursor: pointer;
      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin: 0;
      font-size: 1rem;
      color: #666;
    }

    .iconos {
      display: flex;
      justify-content: center;
      // gap: 10px;
      // margin-top: 10px;
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 768px) {
  .image-container {
    padding: 10px;
    gap: 10px;

    .image-item {
      max-width: 100%;
      flex-direction: row;
      align-items: flex-start;

      .image-frame {
        width: 150px;
        height: 150px;
        margin-right: 10px;

        .hover-image {
          width: 150px;
          height: 150px;
        }
      }

      h3 {
        font-size: 1rem;
      }

      p {
        font-size: 0.7rem;
      }
    }
  }
  .image-container .image-item {
    width: 100%;
  }
}
