<div class="image-container">
  <div class="image-item">
    <div class="image-frame">
      <img src="https://cdn.pixabay.com/photo/2022/06/07/16/22/drift-7248723_1280.jpg" alt="Image 1" class="hover-image">
    </div>
    <h3><a [routerLink]="['/compotas']">Proyecto facturacion compotas</a></h3>
    <p>Descripción de la imagen 1.</p>
  </div>
  <div class="image-item">
    <div class="image-frame">
      <img src="https://cdn.pixabay.com/photo/2024/10/23/09/00/dorset-9141987_1280.jpg" alt="Image 2" class="hover-image">
    </div>
    <h3><a [routerLink]="['/calculadora']">Proyecto calculadora temporal</a></h3>
    <p>Descripción de la imagen 2.</p>
  </div>
  <div class="image-item">
    <div class="image-frame">
      <img src="https://cdn.pixabay.com/photo/2024/09/22/09/39/pantheon-paris-9065570_1280.jpg" alt="Image 3" class="hover-image">
    </div>
    <h3>Proyecto Login</h3>
    <p>Descripción de la imagen 3.</p>
  </div>
  <div class="image-item">
    <div class="image-frame">
      <img src="https://cdn.pixabay.com/photo/2024/11/02/05/13/winter-9168141_1280.jpg" alt="Image 4" class="hover-image">
    </div>
    <h3>Título 4</h3>
    <p>Descripción de la imagen 4.</p>
  </div>
  <div class="image-item">
    <div class="image-frame">
      <img src="https://cdn.pixabay.com/photo/2022/12/02/16/52/the-path-7631282_1280.jpg" alt="Image 5" class="hover-image">
    </div>
    <h3>Título 5</h3>
    <p>Descripción de la imagen 5.</p>
  </div>
  <div class="image-item">
    <div class="image-frame">
      <img src="https://cdn.pixabay.com/photo/2022/06/07/16/22/drift-7248723_1280.jpg" alt="Image 1" class="hover-image">
    </div>
    <h3>Título 6</h3>
    <p>Descripción de la imagen 6.</p>
  </div>
  <div class="image-item">
    <div class="image-frame">
      <img src="https://cdn.pixabay.com/photo/2024/05/29/16/49/lizard-8796682_1280.jpg" alt="Image 6" class="hover-image">
    </div>
    <h3>Título 7</h3>
    <p>Descripción de la imagen 7.</p>
  </div>
  <div class="image-item">
    <div class="image-frame">
      <img src="https://cdn.pixabay.com/photo/2024/10/23/09/00/dorset-9141987_1280.jpg" alt="Image 2" class="hover-image">
    </div>
    <h3>Título 8</h3>
    <p>Descripción de la imagen 8.</p>
  </div>
</div>