.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; // Asegúrate de que el toolbar esté en el frente
}

mat-card-content {
  margin-top: 64px; // Ajusta este valor según la altura de tu toolbar
}