<div class="container mt-4">
    <h2>Facturacion compotas</h2>
    <form (ngSubmit)="agregarProducto()" class="form-inline form-container">
      <div class="form-group">
        <label for="tipo" class="mr-2">Seleccione el tipo de compota:</label>
        <select [(ngModel)]="tipoSeleccionado" name="tipo" id="tipo" class="form-control mr-3">
          <option value="Rostington">Rostington</option>
          <option value="Premiere">Premiere</option>
        </select>
      </div>

      <div class="form-group">
        <label for="cantidad" class="mr-2">Ingrese la cantidad:</label>
        <input type="number" [(ngModel)]="cantidad" name="cantidad" id="cantidad" class="form-control mr-3" min="1" required>
      </div>

      <button type="submit" class="btn btn-primary rounded-button">Agregar Producto</button>
    </form>

    <h2 class="mt-4">Factura Final de la Compra</h2>
    <table class="table table-striped mt-3">
      <thead class="thead-dark">
        <tr>
          <th>Tipo de Compota</th>
          <th>Cantidad</th>
          <th>Porcentaje de Descuento</th>
          <th>Monto de Descuento</th>
          <th>Venta Neta</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of compotasService.productos; let i = index">
          <td>{{ producto.tipo }}</td>
          <td>
            <input type="number" [(ngModel)]="producto.cantidad" (change)="modificarCantidad(i, producto.cantidad)" class="form-control mr-2" min="1">
          </td>
          <td>{{ producto.descuentoPorcentaje }} %</td>
          <td>${{ producto.descuento | number:'1.0-2'}}</td>
          <td>${{ producto.ventaNeta | number:'1.0-2'}}</td>
          <td>
            <button (click)="eliminarProducto(i)" class="btn btn-danger btn-sm rounded-button">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Total General de la Compra: ${{ compotasService.totalGeneral | number:'1.0-2'}}</h3>
    <!-- Botón para abrir la ventana modal -->
    <div class="button-container">
      <button type="button" class="btn btn-success mt-3 rounded-button" (click)="openModal()" [disabled]="compotasService.productos.length === 0">
        Finalizar Compra
      </button>
    </div>
</div>

<!-- Ventana modal de detalles de compra -->
<div class="modal" tabindex="-1" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles de la Compra</h5>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-body">
        <p><strong>Fecha:</strong> {{ currentDate | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Hora:</strong> {{ currentDate | date: 'HH:mm:ss' }}</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Unitario</th>
              <th>Descuento</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of compotasService.productos">
              <td>{{ producto.tipo }}</td>
              <td>{{ producto.cantidad | number:'1.0-2'}}</td>
              <td>{{ producto.tipo === 'Rostington' ? '$5,000' : '$10,000' }}</td>
              <td>${{ producto.descuento | number:'1.0-2'}}</td>
              <td>${{ producto.ventaNeta | number:'1.0-2'}}</td>
            </tr>
          </tbody>
        </table>
        <h5>Total General: ${{ compotasService.totalGeneral | number:'1.0-2'}}</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-button" (click)="nuevaCompra()">Nueva Compra</button>
        <button type="button" class="btn btn-primary rounded-button" (click)="imprimirYFinalizar()">Imprimir y Finalizar</button>
      </div>
    </div>
  </div>
</div>